.row
  .span3
    = render 'styles/partials/navbar'
  .span21
    / = render "navigation"
    / = render "left_nav"
    = render "styles/partials/publisher-detail"
    = render "styles/partials/event-detail"
    = render "styles/partials/place-detail"    
    = render "styles/partials/search-results"
    = render "styles/partials/typography"
    = render "styles/partials/icons"
    = render "styles/partials/buttons"
    = render "styles/partials/alerts"
    = render "styles/partials/labels"
    = render "styles/partials/progress_bars"
    = render "styles/partials/following"
    = render "styles/partials/fun"
    = render "styles/partials/f_browse"
    = render "styles/partials/browse"
    = render "styles/partials/settings"
    = render "styles/partials/no_results"
